{% extends "mehboobProject/layout.html" %}
{% load static %}

{% block title %} About {% endblock %}

{% block body %}
<div id="about" class="section">

	<!-- container -->
	<div class="container" style="background-color: #829687; color:#000; padding: 50px 20px;">

		<!-- row -->
		<div class="row">

			<div class="col-md-6">
				<div class="section-header">
					<h2>Welcome to Rashtra Bhasha Vidyalaya Jorhat</h2>
					<p class="lead" align="justify" >Rashtra Bhasha Vidyalaya Jorhat was established as far back as in the year 1957 through generous donations of the then elites of the society of Jorhat. The Honourable, the then Chief Minister of Assam, Late Bishnu Ram Medhi inaugurated and laid the foundation of the institution in a be-fitting ceremony.</p>
				</div>

				<!-- feature -->
				<div class="feature">
					<div class="feature-content">
						<h4>Our Mission </h4>
						<p align="justify">Our mission is to mould our students in such a way that they become responsible citizens of our country. We believe in the overall development of the child along with encouraging and motivating our students to excelacademically. We are committed in our endeavor as teachers and facilitators and our approach is always child centric. Keeping this mission in mind, we are always trying to improve ourselves and keep ourselves updated, regarding various facets of education.</p>
					</div>
				</div>
				<!-- /feature -->

				<!-- feature -->
				<div class="feature">
					<div class="feature-content">
						<h4>Our Vision</h4>
						<p align="justify">Our vision is to move in a positive way and scale new heights so that our students achieve their best in whatever they do. We are grateful for the co-operation of our school management and our esteemed parents without whom it is impossible to achieve these targets.</p>
					</div>
				</div>
				<!-- /feature -->

				<!-- feature -->
				<!--<div class="feature">
					<i class="feature-icon fa fa-comments"></i>
					<div class="feature-content">
						<h4>Alumni</h4>
						<p>Ceteros fuisset mei no, soleat epicurei adipiscing ne vis. Et his suas veniam nominati.</p>
					</div>
				</div>-->
				<!-- /feature -->
			</div>

			<div class="col-md-6">
								 <div class="event-title" style="padding-bottom:1px;">
					<h3 style="text-align:center; border-bottom: solid 2px #222; color:#000;">Notice Board</h3>
			</div>
	<marquee direction="left" style="background-color: aqua color(srgb red green blue);"> //********************** NOTICE*************************NOTICE******************//</marquee>	
			</div>
						 </div>

		</div>
		<!-- row -->

	</div>
	<!-- container -->
</div>
<!-- /About -->

{% endblock %}