<!DOCTYPE html>
<HEAD>
<style> 
header {
 background-image: url(photos/header2.avif);
 background-color: #333;
 text-shadow:3px 3px #ecf4f5;
 color: #051214;
 padding: 20px;
 text-align: center;
}

nav {
 background-color: #f4f4f4;
 padding: 10px;
 text-align: center;
}

nav a {
 text-decoration: none;
 color: #333;
 padding: 10px;
}
</style></HEAD><header>
 <DIV><h1>RASHTRA BHASHA VIDYALAYA , JORHAT </h1></div>
</header><BODY><P><H1>GENERAL RULES OF SCHOOL MUST BE FOLLOWED-----</H1>
<UL><H2>
	 <li><i class="fa-li fa fa-check-square"></i> Respect: Show respect to teachers, staff members, fellow students, and school property. Treat others as you would like to be treated.</li>
	 <li><i class="fa-li fa fa-check-square"></i> Attendance and Punctuality: Attend school regularly and arrive on time. Follow the school's attendance policies and notify the school in case of any absences or delays.</li>
    <li><i class="fa-li fa fa-check-square"></i> Uniform/Dress Code: Follow the school's dress code policy and wear the designated uniform or appropriate attire as instructed.</li>
	 <li><i class="fa-li fa fa-check-square"></i> Preparedness: Come to school prepared with the necessary materials such as books, notebooks, pens, and other supplies required for class.</li>
	 <li><i class="fa-li fa fa-check-square"></i> Homework and Assignments: Complete homework and assignments on time. Put effort into your work and seek help from teachers when needed.</li>
	 <li><i class="fa-li fa fa-check-square"></i> Classroom Etiquette: Follow classroom rules and guidelines established by the teacher. Raise your hand before speaking, be attentive, and actively participate in class activities.</li>
	 <li><i class="fa-li fa fa-check-square"></i> Personal Hygiene: Maintain good personal hygiene by practicing cleanliness, including regular handwashing, proper grooming, and wearing clean clothes.</li>
	 <li><i class="fa-li fa fa-check-square"></i> Safety: Follow safety rules and guidelines provided by the school. Report any unsafe conditions or incidents to a teacher or staff member immediatel </li>
	 <li><i class="fa-li fa fa-check-square"></i> Bullying and Harassment: Treat others with kindness and compassion. Avoid bullying, harassment, or any form of mistreatment. Report any incidents to a trusted adult.</li>
	 <li><i class="fa-li fa fa-check-square"></i> Technology Usage: Use technology devices responsibly as per school policies. Do not engage in cyberbullying, access inappropriate content, or misuse digital resources.</li>
	 <li><i class="fa-li fa fa-check-square"></i> Respect for Property: Take care of school property, including books, equipment, and facilities. Do not engage in vandalism or theft.</li>
	 <li><i class="fa-li fa fa-check-square"></i> Noise and Disturbance: Maintain a quiet and conducive environment for learning. Avoid creating excessive noise or disturbances in classrooms and other common areas </li>
</H2></UL>
</BODY>
</HTML>