{% extends "mehboobProject/layout.html" %}
{% load static %}

  {% block title %}Students Section{% endblock %}
{% block body %}
  <br>
  <section>
    <h3 style="color:white">View our Teachers Here!</h3>
  </section>
  <div class="logo-container">
  <figure>
    <a href="https://example.com">
      <img src="{% static 'mehboobProject/photos/routine.jpeg' %}" class="Logo">
      <figcaption>
        <div class="caption">Routine. </div></figcaption>
    </a>
  </figure>
  <figure>
    <a href="https://example.com">
      <img src="{% static 'mehboobProject/photos/result.jpeg' %}" class="Logo">
      <figcaption>  <div class="caption">Result.</div></figcaption>
    </a>
  </figure>
  <figure>
    <a href="https://example.com">
      <img src="{% static 'mehboobProject/photos/activites.jpeg' %}" class="Logo">
      <figcaption>
        <div class="caption"> Activities. </div> </figcaption>
    </a>
  </figure>
  </div>
{% endblock %}
