
                          <body>
                           <h3>The School Uniform - Primary/Montessory Sections </h3>
							<h5>Boys </h5>
							<ul class="fa-ul">
							 <li><i class="fa-li fa fa-check-square"></i> White Shirt with Tie Collar.</li>
  							 <li><i class="fa-li fa fa-check-square"></i> Grey Shorts / Trousers with two side pockets</li>
  							 <li><i class="fa-li fa fa-check-square"></i> Black Shoes and White Shocks</li>
  							 <li><i class="fa-li fa fa-check-square"></i> White Hankerchief</li>
  							</ul>
							
							<h5>Girls </h5>
							<ul class="fa-ul">
							 <li><i class="fa-li fa fa-check-square"></i> White Shirt with Tie Collar.</li>
  							 <li><i class="fa-li fa fa-check-square"></i> Grey Shirt</li>
  							 <li><i class="fa-li fa fa-check-square"></i> Black Shoes and White Shocks</li>
  							 <li><i class="fa-li fa fa-check-square"></i> White Ribbon / Hair Band</li>
  							</ul>
							
							
							<h5>Saturday Only </h5>
							<ul class="fa-ul">
							<li><i class="fa-li fa fa-check-square"></i> House Uniforms</li>
							<li><i class="fa-li fa fa-check-square"></i> White Skirts (Girls)</li>
							<li><i class="fa-li fa fa-check-square"></i> White Shirts (Boys)</li>
							<li><i class="fa-li fa fa-check-square"></i> White Ribbon / Hair Band</li>
							<li><i class="fa-li fa fa-check-square"></i> White Shoes and white Shocks</li>
							<li><i class="fa-li fa fa-check-square"></i> White hankerchief</li>
							</ul>
						   <h5 align="center">Winter(For Primary) </h5>

							<p>During the winter season (October to March) a red pullover may be used or if anything warm has to be used it may be put on under the blouse or shirts. The uniform cloth, wool for sweater should be purchased from the millshop prescribed by the school for maintaining uniform shade and quality of cloth.</p>
							<p>The shirts must be tucked into the shorts.</p>
							
							<h5 align="center">Note : Uniforms be maintained as prescribed. </h5>

<!--						<blockquote>
							  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
							</blockquote>
-->
							
						</div>
					</div>
					<div id="main" class="col-md-9">
					<div class="blog-post">
						<h3>The School Uniform - Secondary Sections </h3>
							<h5>Boys </h5>
							<ul class="fa-ul">
							<li><i class="fa-li fa fa-check-square"></i> White Shirt with Tie Collar</li>
							<li><i class="fa-li fa fa-check-square"></i> Grey Shorts / Trousers with Two Side Pockets</li>
							<li><i class="fa-li fa fa-check-square"></i> Black Shoes and white Shocks</li>
							<li><i class="fa-li fa fa-check-square"></i> Tie and belt as prescribed by the school</li>
							<li><i class="fa-li fa fa-check-square"></i> White Hankerchief</li>
							</ul>
							
							<h5>Girls </h5>
							
							<ul class="fa-ul">
							<li><i class="fa-li fa fa-check-square"></i> White Blouse/Kurta</li>
							<li><i class="fa-li fa fa-check-square"></i> White Skirts/Salwar</li>
							<li><i class="fa-li fa fa-check-square"></i> Black Shoes and White Shocks</li>
							<li><i class="fa-li fa fa-check-square"></i> White Ribbon / White Hair Band</li>
							<li><i class="fa-li fa fa-check-square"></i> White Hankerchief</li>
							</ul>
							
							
							<h5 align="center">Winter(For Secondary) </h5>

							<p>During the winter season (October to March) a navy blue pullover may be used or if anything warm has to be used it may be put on under the blouse or shirts. The uniform cloth, wool for sweater should be purchased from the millshop prescribed by the school for maintaining uniform shade and quality of cloth.</p>
							<p>The shirts must be tucked into the shorts.</p>
							
							<h5 align="center">Necessary attendance obedience of rules or order.</h5>
                    </div></div></body></HTML>
